.local/share/applications/_usr_lib*
.local/share/applications/chrome*
.local/share/applications/io.element*
.local/share/applications/mimeinfo*
.local/share/applications/kite-copilot.desktop
.local/share/applications/kite.desktop
.DS_Store
qBittorrent/
fish_variables
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/nvim/.luarc.json
.config/tmux/sessions
.*_history*
.zcomp*
.netrwhist
.config/helm
.config/mdless
.config/argocd
